<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="AprajitaRetailsDataBase.Properties.Settings.D__VISUAL_STUDIO_2017_PROJECTS_APRAJITARETAILS_APRAJITARETAILMONITOR_BIN_DEBUG_APRAJITARETAILS_MDFConnectionString" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=&quot;D:\VISUAL STUDIO 2017\PROJECTS\APRAJITARETAILS\APRAJITARETAILMONITOR\BIN\DEBUG\APRAJITARETAILS.MDF&quot;;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False" providerName="System.Data.SqlClient" />
    <add name="AprajitaRetailsDataBase.Properties.Settings.VoygerDatabaseConnectionString" connectionString="Data Source=.\SQLExpress;AttachDbFilename=|DataDirectory|\VoygerDatabase.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True" providerName="System.Data.SqlClient" />
    <add name="VoygerDatabaseEntities" connectionString="metadata=res://*/ERDB.VoygerTAS.csdl|res://*/ERDB.VoygerTAS.ssdl|res://*/ERDB.VoygerTAS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLExpress;attachdbfilename=D:\AprajitaRetails\Databases\VoygerDatabase.mdf;integrated security=True;connect timeout=30;user instance=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>