<!DOCTYPE html>
<html lang="pt-br" data-ng-app="guard" ng-controller="securityCtrl as securityCtrl">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta charset="utf-8" />
	<title>Project Title</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<link rel="apple-touch-icon" href="/favicon.ico">
	<link rel="apple-touch-icon" sizes="76x76" href="/favicon.ico">
	<link rel="apple-touch-icon" sizes="120x120" href="/favicon.ico">
	<link rel="apple-touch-icon" sizes="152x152" href="/favicon.ico">
	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-touch-fullscreen" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="default">
	<meta content="Shared Framework based project" name="description" />
	<meta content="Leno Carvalho" name="author" />
	<!-- BEGIN VENDOR CSS-->
	<link href="plugins/pace/pace-theme-flash.css" rel="stylesheet" type="text/css" />
	<link href="plugins/bootstrapv3/css/bootstrap.css" rel="stylesheet" type="text/css" />
	<link href="plugins/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css" />
	<link href="plugins/jquery-scrollbar/jquery.scrollbar.css" rel="stylesheet" type="text/css" media="screen" />
	<!-- END VENDOR CSS-->
	<!-- BEGIN BASE CSS-->
	<link href="base/css/base-icons.css" rel="stylesheet" type="text/css">
	<link href="base/css/base.css" rel="stylesheet" type="text/css" />
	<!-- END BASE CSS-->
	<!-- BEGIN CORE CSS-->
	<link href="assets/css/core.css" rel="stylesheet" type="text/css">
	<link href="assets/css/custom.css" rel="stylesheet" type="text/css">
	<!-- END CORE CSS-->
	<!--[if lte IE 9]>
		<link href="base/css/base-ie9.css" rel="stylesheet" type="text/css" />
	<![endif]-->
	<script type="text/javascript">
		window.onload = function () {
			if (navigator.appVersion.indexOf("Windows NT 6.2") != -1)
				document.head.innerHTML += '<link rel="stylesheet" type="text/css" href="base/css/base-chrome-fix.css" />'
		}
	</script>
</head>
<body class="fixed-header text-black disable-scroll">
	<div class="modal fade slide-up disable-scroll upper" id="modal-loading" tabindex="-1" role="dialog" aria-hidden="false" data-backdrop="static" data-keyboard="false">
		<div class="modal-dialog">
			<div class="modal-content-wrapper">
				<div class="modal-content">
					<div class="modal-body text-center m-t-20">
						<h4 class="fs-12 no-margin p-b-10 font-montserrat upper">Validando...</h4>
						<img id="loading" src="base/img/progress/progress-circle-master.svg" alt="logo" class="modal-loading" width="30">
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- MODAL STICK UP  -->
	<div class="modal fade stick-up" id="modal-create" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header clearfix m-t-15">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
						<i class="pg-close fs-14"></i>
					</button>
					<p class="font-montserrat text-uppercase text-black"><span class="bold">Versão do sistema</span></p>
				</div>
				<div class="modal-body m-t-15">
					<div class="panel panel-transparent font-montserrat">
						<div class="panel-body text-center">
							<address class="margin-bottom-20 margin-top-10">
								<p class="fs-11 no-padding lh-normal">
									<span class="font-montserrat fs-10 bold upper">Número da versão</span>
									<br>1.0.0
								</p>
							</address>
						</div>
						<div class="panel-heading text-center">
							<div class="panel-title fs-13">
								Desenvolvedores
							</div>
						</div>
						<div class="panel-body">
							<div class="row">
								<div class="col-xs-12 col-sm-12 col-md-6 text-right">
									<address class="margin-bottom-20 margin-top-10">
										<p class="fs-11 no-padding lh-normal">
											<span class="font-montserrat fs-10 bold upper">Júlio César Campos</span>
											<br>julio@gtac.com.br
										</p>
									</address>
								</div>
								<div class="col-xs-12 col-sm-12 col-md-6 text-left">
									<address class="margin-bottom-20 margin-top-10">
										<p class="fs-11 no-padding lh-normal">
											<span class="font-montserrat fs-10 bold upper">Leno Carvalho</span>
											<br>leno@gtac.com.br
										</p>
									</address>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- END MODAL STICK UP  -->
	<!-- START PAGE-CONTAINER -->
	<div class="login-wrapper">
		<div class="login-container">
			<div class="p-l-50 m-l-20 p-r-50 m-r-20 p-t-50 m-t-30 sm-p-l-15 sm-p-r-15 sm-p-t-40">
				<img src="assets/img/logo_white.png" alt="logo" data-src="assets/img/logo_white.png" data-src-retina="assets/img/logo_white_2x.png" width="70">
				<p class="p-t-20 text-white">Acesse sua conta do sistema.</p>
				<form name="fields" class="form-group" role="form">
					<div class="row">
						<div class="col-sm-12 col-md-12 col-lg-12">
							<div class="form-group form-group-default required">
								<label for="username">Usuário</label>
								<input type="text" ng-model="securityCtrl.Object.Login" class="form-control" data-clear="true" placeholder="nome de usuário" required />
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12 col-md-12 col-lg-12">
							<div class="form-group form-group-default required">
								<label for="password">Senha</label>
								<input type="password" ng-model="securityCtrl.Object.Password" class="form-control" data-clear="true" placeholder="senha do usuário" required />
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12 col-md-6 col-sm-4">
							<br />
							<div class="btn-group btn-group-justified">
								<div class="btn-group">
									<button type="submit" ng-disabled="!fields.$valid" class="btn btn-primary" ng-click="securityCtrl.Authenticate()">
										<span class="p-t-5 p-b-5">
											<i class="fa fa-sign-in fs-15"></i>
										</span>
										<br />
										<span class="fs-11 upper">Entrar</span>
									</button>
								</div>
							</div>
						</div>
					</div>
					<!-- START FOOTER -->
					<div class="row">
						<div class="text-center text-white pull-bottom">
							<p class="small m-l-25">
								<span class="hint-text">Copyright © 2017 </span>
								<span class="font-montserrat"> | Leno Carvalho</span>.<br />
								<span class="hint-text">Todos os direitos reservados. </span><br />
								<a class="font-montserrat text-white pointer" ng-click="securityCtrl.ShowVersion()">Versão do sistema</a>
							</p>
							<div class="clearfix"></div>
						</div>
					</div>
					<!-- END FOOTER -->
				</form>
			</div>
		</div>
	</div>
	<!-- END PAGE CONTAINER -->
	<!-- BEGIN JQUERY JS -->
	<script src="plugins/jquery/jquery-1.11.1.min.js" type="text/javascript"></script>
	<!-- END JQUERY JS -->
	<!-- BEGIN VENDOR JS -->
	<script src="plugins/pace/pace.min.js" type="text/javascript"></script>
	<script src="plugins/modernizr.custom.js" type="text/javascript"></script>
	<script src="plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
	<script src="plugins/bootstrapv3/js/bootstrap.min.js" type="text/javascript"></script>
	<script src="plugins/moment/moment.min.js" type="text/javascript"></script>
	<script src="plugins/moment/moment-with-locales.min.js" type="text/javascript"></script>
	<script src="plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
	<script src="plugins/jquery-actual/jquery.actual.min.js" type="text/javascript"></script>
	<script src="plugins/jquery-unveil/jquery.unveil.min.js" type="text/javascript"></script>
	<script src="plugins/jquery-bez/jquery.bez.min.js" type="text/javascript"></script>
	<script src="plugins/jquery-scrollbar/jquery.scrollbar.min.js" type="text/javascript"></script>
	<script src="plugins/classie/classie.js" type="text/javascript"></script>
	<script src="plugins/mapplic/js/hammer.js" type="text/javascript"></script>
	<script src="plugins/jquery-sparkline/jquery.sparkline.min.js" type="text/javascript"></script>
	<!-- END VENDOR JS -->
	<!-- BEGIN ANGULAR JS -->
	<script src="plugins/angular/angular.js" type="text/javascript"></script>
	<script src="plugins/angular-ui-router/angular-ui-router.min.js" type="text/javascript"></script>
	<script src="plugins/angular-ui-util/ui-utils.min.js" type="text/javascript"></script>
	<script src="plugins/angular-ui-select/select.js" type="text/javascript"></script>
	<script src="plugins/angular-sanitize/angular-sanitize.min.js" type="text/javascript"></script>
	<!-- END ANGULAR JS -->
	<!-- BEGIN CORE TEMPLATE JS -->
	<script src="base/js/base.js" type="text/javascript"></script>
	<script src="assets/js/shared.js" type="text/javascript"></script>
	<script src="assets/js/guard.js" type="text/javascript"></script>
	<!-- END CORE TEMPLATE JS -->
	<!-- BEGIN CORE JS -->
	<script src="assets/js/core/alerts.js" type="text/javascript"></script>
	<script src="assets/js/core/core.js" type="text/javascript"></script>
	<script src="assets/js/core/culture.js" type="text/javascript"></script>
	<script src="assets/js/core/exceptions.js" type="text/javascript"></script>
	<script src="assets/js/core/layouts.js" type="text/javascript"></script>
	<script src="assets/js/core/modals.js" type="text/javascript"></script>
	<script src="assets/js/core/navbar.js" type="text/javascript"></script>
	<script src="assets/js/core/tables.js" type="text/javascript"></script>
	<script src="assets/js/core/version.js" type="text/javascript"></script>
	<!-- END CORE JS -->
	<!-- BEGIN STARTUP JS -->
	<script src="assets/js/startup/startup.js" type="text/javascript"></script>
	<!-- END STARTUP JS -->
	<!-- BEGIN CONTROLLERS JS -->
	<script src="assets/js/controllers/security.js"></script>
	<!--END CONTROLLERS JS -->
</body>
</html>