<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <!--If you'll use the Shared.Token reference to help you to authenticate your
            application via Token based authentication, you'll need this setting,
            because it will be used to point the correct authentication path.-->
        <!--<add key="TokenAuthenticationUrl"
             value="https://adtoken.golnaweb.com.br/api/user/auth.json" />-->

        <!--If you'll use the Shared.Token reference to help you to validate some
            existing authentication, you'll need this setting, because it will be used
            to point the correct validation path.-->
        <!--<add key="TokenValidationUrl"
             value="https://adtoken.golnaweb.com.br/api/user/get_user.json" />-->
    </appSettings>
    <connectionStrings>
        <!--If you'll use the Shared.Data reference to work with some database (SQL)
            in your application, you'll need to set one of the connections below,
            because it will be used to point the server path correctly.

            SERVER  => Server IP address or domain
            DB      => Database name to connect
            USER    => User used to log in your server
            Pass    => User's password to log in your server

            Local   => Local environment
            Test    => Test environment
            Publish => Production environment-->

        <!--Local-->
        <!--<add name="Context"
             connectionString="server=SERVER; database=DB; user=USER; password=PASS;"
             providerName="System.Data.SqlClient" />-->

        <!--Test-->
        <!--<add name="Context"
             connectionString="server=SERVER; database=DB; user=USER; password=PASS;"
             providerName="System.Data.SqlClient" />-->

        <!--Publish-->
        <!--<add name="Context"
             connectionString="server=SERVER; database=DB; user=USER; password=PASS;"
             providerName="System.Data.SqlClient" />-->
    </connectionStrings>
    <system.web>
        <customErrors mode="Off"></customErrors>
        <compilation debug="true" targetFramework="4.5" />
        <httpRuntime targetFramework="4.5" />
    </system.web>
    <system.codedom>
        <compilers>
            <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
            <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
        </compilers>
    </system.codedom>
    <system.webServer>
        <handlers>
            <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
            <remove name="OPTIONSVerbHandler" />
            <remove name="TRACEVerbHandler" />
            <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
        </handlers>
    </system.webServer>
</configuration>