<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="iTextSharp" version="5.5.12" targetFramework="net462" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net462" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net462" />
  <package id="Microsoft.Report.Viewer" version="11.0.0.0" targetFramework="net462" />
  <package id="RawPrint" version="0.2.0.0" targetFramework="net462" />
  <package id="Report.NET" version="0.09.06" targetFramework="net462" />
  <package id="Stimulsoft.Reports.Net" version="2018.3.2" targetFramework="net461" />
</packages>